[Unit]
Description=Arbeitsblatt Generator
After=multi-user.target 

[Service]
Type=idle
WorkingDirectory=/home/pi/abgen
ExecStart=/usr/bin/python3 /home/pi/abgen/starteSkriptDurchWebseite.py
User = pi
[Install]
WantedBy=multi-user.target

